
*{
    --background: rgb(244, 240, 242);
    --cadet-gray: rgb(57, 66, 77);
	--accent: rgb(51, 127, 154);
	--secondary: rgb(243, 209, 225);
	--primary: rgb(239, 149, 191);
}


.header{
    color:var(--accent) ;
}

.audioControls {
    display: flex;
    gap: 2rem;
    position: fixed;
    bottom: 0; /* Start off-screen */
    width: 80%;
    background: var(--secondary);
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease; /* Smooth transition for sliding up */
  }
  
  .closebtn{
    display: none;
  }