
* {	/* CSS HEX */
	--cadet-gray: rgb(57, 66, 77);
	--accent: rgb(51, 127, 154);
	--secondary: rgb(243, 209, 225);
	--pale-dogwood: #dbc7beff;
	--primary: rgb(239, 149, 191);
	font-family: "Nunito";
}

/*SMALL SETTINGS*/
.header{
    background-color: var(--primary);
    margin: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
}

.logo{
    font-size: 2rem;
    padding: 0rem 1rem;
    margin: 0;
    color: white;
    font-family: "Bagel Fat One", sans-serif;
    text-shadow: 2px 2px 0px grey, 
    -2px -2px 0px grey,
    2px -2px 0px grey,
    -2px 2px 0px grey;
}
.hamburgerIcon{
    padding-right: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    width: 40px;
     height:40px;
     z-index: 1000;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    width:250px;
    height: 100%;
    background-color: var(--secondary);
    padding: 1rem;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateX(100%);
}

.sidebar.open{
    transform: translateX(0);
}
.sidebar a{
    margin-top: 1rem;
    text-decoration: none;
    color: var(--cadet-gray);
    font-weight: bolder;
    font-size: 1.5rem;
}

.sidebar a:hover{
    border-bottom: 2px solid var(--pale-dogwood);
     font-style: italic;
 }
 
.navLinks{
    display: none;
}




/*MEDIUM SCREENS*/

@media (min-width:600px){
    .logo{
        font-size: 3.5rem;
    }
   
    .hamburgerIcon{
        padding-right: 1rem;
        width: 6rem;
         height: 6rem;
    }

    .navLinks{
        display: none;
    }
    .sidebar{  
        top: 0;
        right: 0;
        width:400px;
        padding: 1rem;
        
    }
}

/*LARGE SCREENS*/


@media (min-width:1700px){
    
    .header{
        padding: 2rem;
    }
    .logo{
        font-size: 5rem;
    }
    .hamburgerIcon{
        display: none;
    }
    .navLinks{
        display: inline-flex;
       align-items: center;
        font-size: 3rem;
        text-decoration: none;
        gap: 1.2rem;
        padding: 0rem 4rem;
    }
  
    .navLinks a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .navLinks a:hover{
       border-bottom: 2px solid var(--accent);
        font-style: italic;
    }
    
    .sidebar{
        display: none;
    }

}