
* {	/* CSS HEX */
	--cadet-gray: #8da1b9ff;
	--secondary: rgb(51, 127, 154);
	--thistle: #cbb3bfff;
	--pale-dogwood: #dbc7beff;
	--accent: rgb(239, 149, 191);
	font-family: "Nunito";
}

/*SMALL SETTINGS*/
.header{
    background-color: var(--accent);
    margin: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.3);
}

.logo{
    font-size: 2rem;
    padding: 0rem 1rem;
    margin: 0;
    color: white;
    font-family: "Bagel Fat One", sans-serif;
    text-shadow: 2px 2px 0px grey, 
    -2px -2px 0px grey,
    2px -2px 0px grey,
    -2px 2px 0px grey;
}
.hamburgerIcon{
    padding-right: 1rem;
    width: 40px;
     height:40px;
}
.hamburgerIcon:hover{
    color: yellow;
}

.navLinks{
    display: none;
}



/*MEDIUM SCREENS*/

@media (min-width:600px){
    .logo{
        font-size: 3.5rem;
    }
   
    .hamburgerIcon{
        padding-right: 1rem;
        width: 6rem;
         height: 6rem;
    }

    .navLinks{
        display: none;
    }
}

/*LARGE SCREENS*/


@media (min-width:1700px){
    
    .header{
        padding: 2rem;
    }
    .logo{
        font-size: 5rem;
    }
    .hamburgerIcon{
        display: none;
    }
    .navLinks{
        display: inline-flex;
       align-items: center;
        font-size: 3rem;
        text-decoration: none;
        gap: 1.2rem;
        padding: 0rem 4rem;
    }
  
    .navLinks a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .navLinks a:hover{
       border-bottom: 2px solid var(--secondary);
        font-style: italic;
    }
    
    

}