*{
    --background: rgb(244, 240, 242);
    --cadet-gray: rgb(57, 66, 77);
	--accent: rgb(51, 127, 154);
	--secondary: rgb(243, 209, 225);
	--primary: rgb(239, 149, 191);
}


/*SMALL SCREENS*/


h1{
    text-align: center;
    padding: 1rem;
    margin: 3rem;
    color: var(--accent);
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 1rem;
   margin: 3rem;
   background-color: var(--secondary) ;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.filterBtn{
    background-color: transparent;
    border: none;
    padding-right: 2rem;
    
}

.searchInput{
    border-radius: 5px;
    border: none;
    padding: 0.6rem;
    background-color: var(--background);
    width: 80%;
}
.searchBtn{
    background-color: transparent;
    border: none;
    padding-right: 1.5rem;
    border-right: 2px solid var(--background);
}
.icon{
    width: 20px;
    height: 20px;
}

/*LIST*/

.podcastList {
    display: grid;
    grid-template-columns: 1fr;
}
.podcastList_item {
	list-style-type: none;
	border-radius: 10px;
	display: block;
	background-color: var(--background);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
	width: 50%;
	display: block;
	margin: 1rem auto;
    border-radius: 10px;
}


/*MEDIUM SCREENS*/

@media (min-width:600px){
    .podcastList {
        
        grid-template-columns: 1fr 1fr;
    }

 
}

/*largish*/
@media (min-width:1000px){
    .podcastList{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*LARGE SCREENS*/

@media (min-width:1700px){
    .podcastList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
