*{
    box-sizing: border-box;
    
    
}

.hidden{
    display: none;
}

h1{
    
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent);
}
h2{
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary);
}

.favBtn{
    border: none;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: #aa0a0a;
    
}
.favourite{
    background-color: var(--primary);
    border: none;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
   color: white;
}
.playBtn{
    background-color: var(--secondary);
    border: none;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: var(--accent);
}

.container{
    margin: 2rem;
    color: var(--accent);
}

.show_info{
    padding: 2rem;
}

.show_info img{
    display: block;
    margin: 2rem auto;
    max-width: 14rem;
    border-radius: 10px;
    border: 0.2rem solid var(--accent);
    

}
.seasonImg{
    
    max-width: 12rem;
    border-radius: 10px;
    border: 0.2rem solid var(--accent);
}

.descriptions{
    display: block;
    font-size: 1.3rem;
    line-height: 2rem;

}
.seasonsContainer{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 1rem;
        border-bottom: 2px solid var(--primary);
        gap: 1rem;
}
.seasonBtn{
    flex: 1 1 100px;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    color: var(--accent);
    font-weight: bold;
    font-size: 1rem;
    transition: all 200ms ease-in;
}

.seasonBtn:hover{
    cursor: pointer;
    background-color: var(--accent);
    color: white;
}

.clearBtn{
    background-color: #aa0a0a;
    flex: 1 1 100px;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: all 200ms ease-in;
}

.clearBtn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.genres{
    font-weight: bold;
}

/*MEDIUM SCREENS*/

@media (min-width:600px){
    
    h1{
        font-size: 4rem;
    }
    .show_info img{
        max-width: 20rem;
       
        
    }
    .descriptions{
        
        font-size: 1.5rem;
        line-height: 2rem;
    
    }
 
}

/*largish*/
@media (min-width:1000px){
    .show_info img{  
        max-width: 22rem;
    }
    .descriptions{
      
        font-size: 1.7rem;
        line-height: 2.5rem;
    
    }
}

/*LARGE SCREENS*/

@media (min-width:1700px){
    h1{
        font-size: 6rem;
    }
    .descriptions{
        font-size: 1.9rem;
        line-height: 2.7rem;
    
    }
    .show_info img{  
        max-width: 30rem;
    }
}
